<h1>La liste des classes</h1>
<table border="1">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Modifier</th>
		<th>Supprimer</th>
	</tr>
	{%for i in liste_des_classes %}
		<tr>
			<td>
				{{i.id}}</td>
			<td>{{i.name}}</td>
			<td>

				<a href="{{ path('app_update_classroom',{'nom': i.name}) }}">Modifier</a>
			</td>
			<td>

				<a href="{{ path('app_delete_classroom',{'nom': i.name}) }}">Supprimer</a>
			</td>
		</tr>

	{% endfor %}

</table><br>
